#!/usr/bin/env bash

if [ -n "$DEBUG" ]; then
	set -x
fi

set -o errexit
set -o nounset
set -o pipefail

copier -x template/** -x copier.yml -x *.py -x CHANGELOG.md \
  "$@" \
  -d generator={{generator_name}} \
  -d nix={{nix}} \
  -d license={{license}} \
  -d repo_url={{repo_url}} \
  -d copyright_date={{copyright_date}} \
  -a .generator.yml \
  update ./.
